html,
body {
    height: 100%;
}

center {
    min-height: calc(100% - 50px);
}

body {
    background-color: white;
    margin: 0px;
    font-size: 12px;
}

@font-face {
    font-family: 'Nunito Sans Bold';
    src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito Sans Regular';
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito Sans SemiBold';
    src: url('../fonts/Nunito-SemiBold.ttf');
}

* {
    font-family: 'Nunito Sans Regular', sans-serif;
}

label {
    font-family: 'Nunito Sans Regular', sans-serif;
    color: #000000;
    font-size: 14px;
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
}

a {
    color: #A9CE44;
}

div.error {
    color: red;
    width: auto;
    font-size: 14px;
}

div.errorMessage {
    color: red;
    width: auto;
    background-color: white;
    z-index: 10;
    position: absolute;
    text-align: left;
    padding: 4px;
    border: 1px solid red;
    margin: 4px;
    display: none;
}

span.title {
    font-family: 'Nunito Sans Regular', sans-serif;
    color: #A9CE44;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

span.host {
    font-family: 'Nunito Sans Regular', sans-serif;
    text-decoration: none;
    color: #0086cf;
    font-size: 14px;
    margin-bottom: 2px;
    width: auto;
    display: inline;
}

p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 16px;
    top: 50%;
    left: 50%;
}

p.error {
    color: red;
    font-size: 14px;
    margin: 0px;
}

span {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

span.paramName {
    display: inline-block;
    font-size: 12px;
    width: 100px;
}

span.paramNameEvents {
    display: inline-block;
    font-size: 12px;
    width: 180px;
    text-align: left;
}

.paramValue {
    display: inline-block;
    font-size: 12px;
    width: 180px;
}

span.inlineBlock {
    display: inline-block;
    font-size: 12px;
}

span.inline {
    display: inline;
    font-size: 12px;
}

span.size14 {
    display: inline;
    font-size: 14px;
}

.inline80 {
    display: inline-block;
    font-size: 12px;
    width: 80px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline100 {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline110 {
    display: inline-block;
    font-size: 12px;
    width: 110px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline120 {
    display: inline-block;
    font-size: 12px;
    width: 120px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline143 {
    display: inline-block;
    font-size: 12px;
    width: 143px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline150 {
    display: inline-block;
    font-size: 12px;
    width: 150px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

span.sitesource {
    display: inline-block;
    font-size: 12px;
    width: auto;
    padding: 0 20px 0 0;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline500 {
    display: inline-block;
    font-size: 12px;
    width: 500px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inlineUnset {
    display: inline-block;
    font-size: 12px;
    width: unset;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.input80 {
    width: 80px;
    font-size: 12px;
    margin: 2px 0;
}

.input150 {
    width: 150px;
    font-size: 12px;
    margin: 2px 0;
}

.inlineAuto {
    display: inline-block;
    font-size: 12px;
    width: auto;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline200 {
    display: inline-block;
    font-size: 12px;
    width: 200px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline50 {
    display: inline-block;
    font-size: 12px;
    width: 50px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.inline30 {
    display: inline-block;
    font-size: 12px;
    width: 30px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

span.field {
    display: inline-block;
    font-size: 12px;
    width: 120px;
    vertical-align: top;
}

span.block {
    display: block;
    font-size: 12px;
    word-break: break-word;
}

div.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    min-width: 200px;
    text-align: center;
    border-bottom: 1px solid #A9CE44;
}

div.headers {
    background-color: #f2f2f2;
}

div.workerDiv {
    padding: 0px 10px 0px 10px;
    border: 1px solid black;
    font-size: 12px;
    line-height: 22px;
}

div.feedDiv {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 22px;
}

hr {
    color: #A9CE44;
    background-color: #A9CE44;
    border: none;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.copyright {
    font-size: 14px;
    color: #757575;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    min-width: 350px;
    position: relative;
    bottom: 20px;
    z-index: -1;
}

@media only screen and (max-width: 350px) {
    div.copyright {
        font-size: 12px;
        min-width: 300px;
    }
}

div.content {
    width: 100%;
    display: table;
    min-height: 450px;
    min-width: 350px;
    background-color: white;
}

div.signin {
    width: 300px;
    margin-top: 20px;
    text-align: left;
}

span.error {
    color: red;
    font-size: 14px;
}

div.warning {
    width: 100%;
    display: table;
    color: #333333;
    min-height: 450px;
    min-width: 350px;
}

div.warning p {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.info {
    width: 100%;
    display: table;
    color: #333333;
    min-height: 450px;
    min-width: 350px;
}

div.center {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

div.inline {
    display: inline-flex;
}

div.red {
    border: 2px solid red;
}

div.lawngreen {
    border: 2px solid lawngreen;
}

div.purple {
    border: 2px solid purple;
}

div.cyan {
    border: 2px solid cyan;
}

div.blue {
    border: 2px solid blue;
}

div.orange {
    border: 2px solid orange;
}

div.gray {
    border: 2px solid gray;
}

div.bgconcern {
    background-color: #ffa0a0;
}

div.bgconcern1 {
    background-color: #ffc0c0;
}

span.red {
    color: red;
}

span.lawngreen {
    color: lawngreen;
}

span.green {
    color: green;
}

span.blue {
    color: blue;
}

span.purple {
    color: purple;
}

span.cyan {
    color: cyan;
}

span.gray {
    color: gray;
}

span.orange {
    color: orange;
}

div.portrait {
    display: inline-flex;
    width: 104px;
    height: 104px;
    margin-right: 4px;
    position: relative;
    vertical-align: middle;
}

div.relative {
    position: relative;
}

div.absolute {
    position: absolute;
    left: 0;
    top: 0;
}

div.bottom {
    position: absolute;
    bottom: 0;
}

div.height20 {
    height=20px;
}

.list {
    min-height: 100px;
    padding-top: 10px;
    cursor: default;
}

.sticky {
    position: fixed;
    top: 0;
}

.sticky1 {
    position: fixed;
    top: 0;
}

.sticky2 {
    position: fixed !important;
    bottom: 0;
}

.sticky+.list {
    padding-top: 84px;
}

.sticky1+.list {
    padding-top: 59px;
}

div.peopleMenu {
    width: 100%;
    display: none;
    background-color: #AACD4F;
    max-width: 1024px;
    text-align: center;
    position: relative;
}

div.personDiv {
    margin-left: 60px;
    display: none;
}

table.margin10 {
    margin-bottom: 10px;
}

div.summary {
    display: inline;
    line-height: 25px;
    vertical-align: top;
}

div.paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.info p {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.narrow {
    width: 200px;
}

div.searchParam {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    text-align: right;
}

div.searchParamEvents {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    text-align: left;
}

div.lastNDiv {
    display: inline-block;
    display: none;
    position: absolute;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    background: linear-gradient(white, lightgray);
    z-index: 1;
}

div.videoParam {
    display: inline-block;
    width: 135px;
}

input.big {
    width: 300px;
    font-size: 16px;
    border: 1px solid gray;
}

.middle {
    width: 250px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
    padding-left: 4px;
}

input.readonly {
    border: none;
    background-color: #f4f4f4;
}

input.button {
    width: 120px;
    height: 42px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 16px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

.smallButton {
    min-width: 80px;
    height: 30px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 14px;
    border: 0px;
    padding: 0px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

.mediumButton {
    min-width: 90px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 14px;
    border: 0px;
    text-align: center;
    padding: 8px;
    border-radius: 2px;
}

.thinButton {
    min-width: 90px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 14px;
    border: 0px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 2px;
}

.fixedButton {
    width: 120px;
    background-color: white;
    color: gray;
    font-size: 14px;
    border: 1px solid gray;
    padding: 0px;
    margin: 8px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.fixedButtonGreen {
    width: 120px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 14px;
    border: 0px;
    padding: 0px;
    margin: 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.joinOption {
    width: 160px;
    height: 42px;
    background-color: #A9CE44;
    color: #333333;
    font-size: 14px;
    border: 0px;
    padding: 0px;
    text-align: center;
    margin: 10px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.mediumButton:disabled,
.mediumButton[disabled] {
    background-color: #cccccc;
    color: #666666;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
    max-width: 640px;
    max-height: 480px;
}

.viewButton {
    width: 50px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #f4f4f4;
    padding: 0px;
    text-align: center;
}

.width120 {
    width: 120px;
    font-size: 14px;
}

.width150 {
    width: 150px;
    font-size: 14px;
}

.width200 {
    width: 200px;
    font-size: 14px;
}

.width250 {
    width: 250px;
    font-size: 14px;
}

.width300 {
    width: 300px;
    font-size: 14px;
}

.width350 {
    width: 350px;
    font-size: 14px;
}

.filterItem {
    max-width: 500px;
    font-size: 14px;
}

input.downloadButton {
    width: 250px;
    height: 36px;
    background-color: #6B9F18;
    color: white;
    font-size: 20px;
    border: 0px;
    font-family: 'Nunito Sans Bold', sans-serif;
}

input.checkbox {
    width: 16px;
    height: 16px;
}

.radios {
    width: 16px;
    height: 16px;
}

.gray {
    color: gray;
    font-size: 12px;
    vertical-align: middle;
    margin-top: 0px;
}

.form-item__element {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid gray;
}

.form-item__element--select {
    padding: 0px;
    width: 350px;
    height: 30px;
}

table {
    border: 0px;
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
}

#occupancyAreas,
#alarmList {
    border-collapse: no;
}

#alarmList td {
    border: 1px solid gray;
    padding: 5px;
}

td.name {
    font-size: 14px;
    color: block;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

td.download {
    vertical-align: bottom;
}

td.section {
    vertical-align: middle;
}

td.value {
    font-size: 14px;
    color: block;
    text-align: left;
}

td.fill {
    padding-left: 10px;
}

.section {
    width: 100%;
    max-width: 1024px;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
}

a.menuItem {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    text-align: center;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

a.tab {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    text-align: center;
    width: fix-content;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.amber {
    color: #FD5C0C !important;
}

.amberOverlay {
    background-color: #FD4B00 !important;
    opacity: 0.8;
}

.alarmInfoLink {
    text-decoration: underline !important;
    display: inline-block;
    text-align: center;
    width: fix-content;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: red !important;
}

span.section {
    color: #636465;
}

a:hover {
    color: #A9CE44;
}

a:active {
    color: #A9CE44;
}

div.page {
    width: 100%;
    max-width: 1024px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
    font-size: 12px;
}

div.editorSub {
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

div.menu {
    padding-top: 10px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 20px;
}

div.statistics {
    position: relative;
    top: 0px;
    right: 0px;
    text-align: left;
    padding: 5px;
    margin-left: 10px;
}

.userInfoBox {
    position: relative;
    background: white;
    border: solid 1px #A9CE44;
    display: none;
    width: 200px;
    line-height: 15px;
    text-align: left;
    padding: 4px;
    z-index: 102;
}

.userInfoBox:after,
.userInfoBox:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.userInfoBox:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}

.userInfoBox:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #A9CE44;
    border-width: 11px;
    margin-left: -11px;
}

a.signout {
    color: #959595;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    color: #A9CE44;
}

a:active {
    color: #A9CE44;
}

div.signout {
    width: 120px;
    height: 60px;
    border: 1px solid black;
    display: none;
}

div.portraitCompany {
    color: black;
    font-size: 14px;
    display: block;
    word-break: break-all;
    width: 150px;
    margin-bottom: 4px;
}

div.portraitId {
    font-size: 12px;
    display: inline;
    word-break: break-all;
    width: 150px;
}

div.scroll {
    height: 500px;
    overflow: auto;
    font-size: 14px;
}

span.readonly {
    color: #959595;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.dot {
    width: 14px;
    margin: 10px;
    vertical-align: middle;
}

.animate-flicker1 {
    animation: fadeIn 1s infinite alternate;
    width: 14px;
    margin: 10px;
    vertical-align: middle;
}

.animate-flicker2 {
    animation: fadeIn 1s infinite alternate;
    animation-delay: 0.5s;
    width: 14px;
    margin: 10px;
    vertical-align: middle;
}

.animate-flicker3 {
    animation: fadeIn 1s infinite alternate;
    animation-delay: 1s;
    width: 14px;
    margin: 10px;
    vertical-align: middle;
}

.server {
    width: 60px;
    margin: 10px;
    vertical-align: middle;
}

input.search {
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 12px;
    margin: 2px;
    height: 20px;
    width: 266px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

input.searchEvents {
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 12px;
    height: 20px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

input.seconds {
    font-size: 12px;
    width: 120px;
    height: 20px;
}

select.small {
    width: 160px;
    margin: 2px;
    font-size: 12px;
}

img.portrait {
    max-width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    object-fit: contain;
}

img.compareImage {
    height: 160px;
    margin: auto;
    margin-top: 0;
    display: block;
    object-fit: contain;
}

img.button {
    height: 30px;
    width: 30px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

img.button20 {
    height: 20px;
    width: 20px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

img.portrait1 {
    max-width: 100px;
    height: 100px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    object-fit: contain;
}

select.box {
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 20px;
    width: 300px;
}

img.portraitEvent {
    height: 99px;
    width: 100px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    object-fit: contain;
    pointer-events: none;
    max-width: 500px;
}

img.smallIcon {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    object-fit: contain;
}

img.expandBtn {
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 101;
}

img.expand {
    display: block;
    width: 100%;
    height: 24px;
    cursor: pointer;
}

td.forCheckbox {
    vertical-align: top;
    width: 16px;
}

input.check {
    zoom: 1.2;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
}

td.portrait {
    width: 124px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

td.portrait1 {
    width: 100px;
    text-align: right;
    vertical-align: middle;
    padding: 0;
}

div.editor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    max-width: 580px;
    display: none;
    border: 1px solid black;
    background-color: #f4f4f4;
    padding: 10px;
    max-height: 95%;
    z-index: 1000;
    overflow: scroll;
}

div.dialogDiv {
    max-width: 1024px;
    border: 1px solid #333333;
    background-color: white;
    padding: 10px;
    z-index: 20;
    box-sizing: border-box;
    overflow-y: auto;
}

div.centerContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
}

button.button {
    cursor: pointer;
}

button.tabs {
    margin: 10px;
    font-size: 14px;
    border: 1px solid #A9CE44;
    border-radius: 12px;
}

button.buttonDisabled {
    color: gray;
}

button.feedButton {
    margin-right: 4px;
    float: right;
    width: 80px;
    line-height: 16px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.listItem100:nth-child(odd) {
    background: white;
    clear: both;
    min-height: 100px;
}

.listItem100:nth-child(even) {
    background: #f4f4f4;
    clear: both;
    min-height: 100px;
}

.listItem:nth-child(odd) {
    background: white;
    clear: both;
}

.listItem:nth-child(even) {
    background: #f4f4f4;
    clear: both;
}

.dtpicker {
    display: inline;
    width: 125px;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.datepicker,
.timepicker {
    font-size: x-small;
}

img[src=""] {
    display: none;
}

span.shadow {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}


/* ShutterClick animation
 * adds a camera flash effect using an animated inset box shadow
 */

.shutterClick {
    animation: cameraFlash .3s .3s alternate-reverse 1;
}

@keyframes cameraFlash {
    from {
        box-shadow: 0;
    }
    to {
        box-shadow: inset 0 0 0 100px #fff;
    }
}

.cameraDiv {
    display: block;
    cursor: pointer;
    vertical-align: middle;
    background-color: white;
    overflow: scroll;
}

.cameraDiv {
    position: relative;
}

.cameraDiv:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cameraDiv.shutterClick:before {
    content: '';
    animation: cameraFlash .3s .3s alternate-reverse 1;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.videoParam:hover .helpertext {
    visibility: visible;
    padding: 5px;
}

.faceInfo {
    position: absolute;
    z-index: 3;
}

.faceInfoIcon {
    position: absolute;
    bottom: -9px;
    right: -6px;
    color: red;
}

.faceInfo:hover .faceQuality {
    visibility: visible;
    padding: 5px;
}

.facePlusDiv {
    position: absolute;
    top: -15px;
    right: -15px;
    color: #A9CE44;
}

.helpertext {
    visibility: hidden;
    width: 240px;
    background-color: white;
    font-size: 14px;
    color: #333333;
    border: 1px solid #A9CE44;
    padding: 4px;
    position: absolute;
    z-index: 1;
}

.faceQuality {
    visibility: hidden;
    width: 130px;
    background-color: white;
    font-size: 12px;
    border: 1px solid #A9CE44;
    padding: 4px;
    position: absolute;
    left: -112px;
    top: -60px;
    z-index: 1;
}

div.dashboard {
    width: 200px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 6px;
    background-color: aliceblue;
}

div.dashboardParam {
    width: 98%;
    max-width: 540px;
    border: 1px solid black;
    background-color: #f4f4f4;
    padding: 6px;
    z-index: 15;
}

img.report {
    border: 4px solid #A9CE44;
    border-radius: 10px;
    width: 180px;
    height: 120px;
    display: block;
}

.overlay {
    position: fixed;
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    z-index: 1000;
    line-height: 50;
}

.loading {
    position: fixed;
    background-color: white;
    opacity: 0.3;
    filter: alpha(opacity=80);
    top: 50%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.tableHeader {
    font-size: 14px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: #7AAE59;
    text-align: left;
    border: 1px solid white;
}

.tableCell {
    font-size: 14px;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
    word-break: keep-all;
    text-align: left;
    border: 1px solid white;
}

.tableCell span {
    word-break: keep-all;
    white-space: auto;
}

.listItemStaff:nth-child(odd) {
    background-color: #D5E3D0;
    clear: both;
    height: 100px;
    width: 900px;
}

.listItemStaff:nth-child(even) {
    background-color: #EBF1EA;
    clear: both;
    height: 100px;
    width: 900px;
}

.portraitAD {
    width: 100px;
    height: 100px;
}

.portraitTD {
    width: 100px;
    height: 100px;
}

div.dialogHeader {
    display: block;
    line-height: 80px;
    background-color: white;
    border-radius: 5px;
}

div.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    max-width: 580px;
    background-color: white;
    padding: none;
    overflow-y: auto;
    z-index: 10;
    overflow: visible;
    font-size: 14px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px;
}

span.dialogTitle {
    font-size: 16px;
    color: #636465;
    font-weight: bold;
}

div.dialogBody {
    text-align: left;
    display: inline-table;
    line-height: 30px;
    margin: 20px;
}

div.dialogBody input {
    line-height: 22px;
    padding: 0 2px;
}

img.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

a.show {
    float: right;
    position: relative;
    cursor: pointer;
    color: #333333;
    font-size: 14px;
    margin: 4px;
}

input.disc {
    text-security: disc;
    -webkit-text-security: disc;
    -mox-text-security: disc;
}

.marginRight10 {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.listItemBC:nth-child(odd) {
    background-color: #EBF1EA;
    clear: both;
    height: 100px;
}

.listItemBC:nth-child(even) {
    background-color: #EBF1EA;
    clear: both;
    height: 100px;
}

.tHeader {
    font-size: 14px;
    height: 50px;
    background-color: #7AAE59;
    text-align: left;
    border: 1px solid white;
}

.tCell {
    font-size: 14px;
    height: 100px;
    overflow: hidden;
    word-break: keep-all;
    text-align: left;
    border: 1px solid white;
}

.sourceCell {
    width: 200px;
    height: 100px;
}

.hidden {
    display: none !important;
}

.questionmark {
    display: inline;
}

.questionmark:hover .tooltiptext {
    visibility: visible;
    padding: 5px;
}

.tooltiptext {
    visibility: hidden;
    max-width: 400px;
    background-color: white;
    font-size: 14px;
    color: #333333;
    text-align: center;
    border: 1px solid #D1D1D1;
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#statsArea {
    float: right;
    height: 100%;
    width: 25%;
}

#imageArea {
    width: 75%;
    float: left;
    height: 100%;
}

#dragbar {
    background-color: #A9CE44;
    height: 95%;
    float: left;
    width: 5px;
    cursor: col-resize;
    display: block;
}

#ghostbar {
    width: 5px;
    height: 95%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999
}

span.similarityScore {
    width: unset;
    color: white;
    padding: 2px;
    font-weight: bold;
    display: inline;
    font-size: 12px;
    margin-right: 10px;
}

span.liName1 {
    font-size: 12px;
    width: calc(100% - 160px);
    word-break: break-all;
    font-family: monospace;
}

span.liName {
    font-size: 12px;
    word-break: break-all;
    font-family: monospace;
}

span.curOccu {
    font-size: 10px;
    line-height: unset;
    position: absolute;
    right: 10px;
    background-color: #F4F4F4;
}

input.curOccu {
    width: 110px;
    font-size: 10px;
}

.curOccu a {
    margin-left: 10px;
    margin-right: 20px;
}

#sourcesDirection span {
    font-size: 12px;
}

#tableHeader th {
    padding: 4px;
}

tr.light_red {
    background-color: #FFAF60;
}

tr.light_yellow {
    background-color: #FFFA60;
}

tr.light_green {
    background-color: #F1F4ED;
    opacity: 0.8;
}

tr.dark_red {
    background-color: coral;
    opacity: 0.8;
}

tr.dark_yellow {
    background-color: gold;
}

tr.dark_green {
    background-color: #F1F4ED;
    opacity: 0.8;
}

td.dashboardR {
    padding: 4px;
    text-align: right;
}

td.dashboardL {
    padding: 4px;
    text-align: left;
}

td.dashboardC {
    padding: 4px;
    text-align: center;
}

.dashboardCell {
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    word-break: keep-all;
    text-align: left;
    border: 1px solid white;
}

tr.light_table {
    background-color: #F1F4ED;
}

tr.dark_table {
    background-color: #F1F4ED;
    opacity: 0.8;
}

td.cbtd {
    width: 20px;
    vertical-align: top;
}

img.searchIcon {
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#deleteAllEventsButton,
#presetFilters {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: white;
}

#snapButton {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: white;
}

#uploadButton {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: white;
}

#deleteAllEventsButton:disabled {
    opacity: 0.2;
}

#snapButton:disabled {
    opacity: 0.2;
}

#uploadButton:disabled {
    opacity: 0.2;
}

div.oa_table {
    display: table;
    width: 96%;
    margin: 10px;
}

div.oa_inlineTable {
    display: inline-table;
    width: 45%;
    margin: 0 10px;
}

.cellName {
    display: table-cell;
    font-size: 12px;
    width: 150px;
    height: 22px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.cellValue {
    display: table-cell;
    font-size: 12px;
    width: 100%;
    min-width: 50px;
}

.cellAuto {
    display: table-cell;
    font-size: 12px;
}

.tooltipDiv {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.tooltipDiv .tooltiptext1 {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    word-break: keep-all;
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 20px;
    font-size: 12px;
    border: 1px solid gray;
}

.tooltipDiv:hover .tooltiptext1 {
    visibility: visible;
}

div.menuDiv {
    margin-top: -20px;
    text-align: right;
    padding-right: 20px;
}

.filterBox {
    position: absolute;
    background: white;
    border: 1px solid #A9CE44;
    display: none;
    width: max-content;
    line-height: 15px;
    text-align: left;
    padding: 4px;
    z-index: 1;
    right: 2px;
    top: 30px;
}

.filterBox:after,
.filterBox:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.filterBox:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}

.filterBox:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #A9CE44;
    border-width: 11px;
    margin-left: -11px;
}

div.menuItem {
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px solid #dfe1e5;
    text-decoration: none !important;
}

div.menuItem:nth-last-of-type(1) {
    border-bottom: unset;
}

div.menuItem:hover {
    background-color: lightgray;
}

.filterItem span {
    font-size: 14px;
    width: 400px;
    display: inline-block;
    line-height: 20px;
}

.filterItem a {
    font-size: 14px;
    width: 20px;
    margin-left: 20px;
    display: inline-block;
}

.redLink {
    text-decoration: underline !important;
    cursor: pointer;
    color: red;
}

#occupancyAreas td {
    border: 1px solid gray;
    padding: 5px;
}

#editEventFiltersDiv input {
    width: 300px;
    font-size: 12px;
}

div.grayBar {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    max-width: 1024px;
    line-height: 30px;
}

progress {
    height: 20px;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid;
    border-radius: 4px;
}

.redStroked {
    color: red;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.headerForSearch {
    display: inline-table;
    line-height: 30px;
    cursor: default;
    height: 30px;
    vertical-align: top;
}

#searchByFaceBtn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    height: 30px;
}

#headerForEvents .span {
    font-size: 12px;
}

#clearFaceSearchResultBtn {
    cursor: pointer;
    width: 18px;
    margin-left: 20px;
    vertical-align: sub;
}

#clearSearchImageBtn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    padding: 0;
    line-height: 20px;
    cursor: pointer;
}

div.faceInfoOverlay {
    line-height: 30px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    opacity: 0;
    z-index: 1;
    display: block;
    width: 202px;
    height: 202px;
}

label.checkboxLabel {
    padding: 0px 0px 80px 5px;
    width: 100%;
    cursor: pointer;
}

span.faceTag_red {
    position: absolute;
    bottom: -14px;
    font-size: 10px;
    color: white;
    background-color: red;
    width: 120px;
    text-align: center;
    left: 0;
}

span.faceTag_green {
    position: absolute;
    bottom: -14px;
    font-size: 10px;
    color: white;
    background-color: #A9CE44;
    width: 120px;
    text-align: center;
    left: 0;
}

.normalProgress::-moz-progress-bar {
    background: #AACD4F;
    width: 300px;
    border: 1px solid white;
}

.normalProgress::-webkit-progress-value {
    background: #AACD4F;
}

.normalProgress {
    color: #AACD4F;
    width: 300px;
    border: 1px solid white;
    border-radius: 0;
}

.redProgress::-moz-progress-bar {
    background: darkred;
}

.redProgress::-webkit-progress-value {
    background: darkred;
}

.redProgress {
    color: darkred;
}

#noscript-error {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    background-color: orange;
    padding: 5px 0;
}

div.eventRow {
    width: 100%;
    position: relative;
    margin-right: 10px;
}

div.sceneThumb {
    width: 180px !important;
    position: absolute !important;
    right: 0;
}

div.sceneThumb img {
    width: 180px !important;
    position: absolute !important;
    right: 0;
}